--- 
--- 

@import "main";

html, body {
    background-color: #1C0F0D;
    height: 100%;
    padding: 0;
    margin: 0;
    color: white;
}

p {
    font-family: "bitter-pro";
}

h1, h2, h3 {
    font-family: "balance-groovy";
    color: white
}

h2 {
    font-size: 5em;
}

.tab-bar-container {
    width: 40%;
    min-width: 700px;
    margin: 0 auto;
    padding-top: 0em;
}

.tab-bar {
    border: 0;
    border-left: 10px;
    border-bottom: 10px;
    border-bottom-left-radius: 60px;
    border-style: solid;
    border-color: #089B9B;
    padding: 2em;
    padding-top: 3em;
    margin-right: 60px;
    padding-left: 50px;
    padding-bottom: 1.9em;
    height: 7em;
}

.main-content-container {
    width: 40%;
    min-width: 700px;
    margin: 0 auto;
    min-height: calc(100vh - 13em);
}

.main-content {
    margin-top: -10px;
    margin-left: 60px;
    border: 0;
    border-right: 10px;
    border-top: 10px;
    border-top-right-radius: 60px;
    border-style: solid;
    border-color: #089B9B;
    padding: 2em;
    padding-top: 3em;
    padding-left: 25px;
    min-height: calc(100vh - 13em);
}

.tab {
    padding: 7px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #089B9B;
    font-family: "swansea";
    color: white
}

@font-face {
    font-family: "balance-groovy";
    src: url(../fonts/BalanceGroovy.otf);
}

@font-face {
    font-family: "bitter-pro";
    src: url(../fonts/BitterPro-Regular.ttf);
}

@font-face {
    font-family: "swansea";
    src: url(../fonts/Swansea.ttf);
}