<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/assets/css/styles.css" />
  </head>
  <body style="font-family: Verdana, Geneva, Tahoma, sans-serif">
    <nav>
      <div style="width: 35%; border: 0; border-left: 5px; border-bottom: 5px; border-bottom-left-radius: 30px; border-bottom-right-radius: 30px;  border-style: solid; border-color: chocolate; padding: 2em">
        <h2>Isaac McAuley</h2>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="https://github.com/imcauley">Github</a>
        <a href="https://mstdn.ca/@imcauley">Mastodon</a>
      </nav>
    </div>
      <div style="width: 35%; margin-top: -5px; border: 0; border-right: 5px; border-top: 5px; border-top-right-radius: 30px; border-style: solid; border-color: chocolate; padding: 2em; height: 300%;">
    <h3>{{ page.title }}</h3>
    <section>{{ content }}</section>
    </div>
    <!-- <footer>&copy; to me</footer> -->
  </body>
</html>
