<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/assets/css/styles.css" />
  </head>
  <body>
    <nav>
      <div class="tab-bar-container">
      <div class="tab-bar">
        <h2 style="margin: 0; margin-bottom: 0.5em;">Isaac McAuley</h2>
        <span style="font-size: 1.5em;">
          <a class="tab" href="/">About</a>
          <a class="tab" href="/projects">Projects</a>
          <a class="tab" href="https://github.com/imcauley">Github</a>
          <a class="tab" href="https://www.linkedin.com/in/imcauley">LinkedIn</a>
          <a class="tab" href="https://bsky.app/profile/imcauley.com">Bluesky</a>
        </span>
      </nav>
      </div>
    </div>
      <div class="main-content-container">
      <div class="main-content">
        <section style="font-size: 1.6em;">{{ content }}</section>
      </div>
    </div>
    <!-- <footer>&copy; to me</footer> -->
  </body>
</html>
