<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/assets/css/styles.css" />
  </head>
  <body>
    <nav>
      <div style="width: 40%; min-width: 470px; margin:0 auto;">
      <div style="border: 0; border-left: 5px; border-bottom: 5px; border-bottom-left-radius: 30px;  border-style: solid; border-color: #089B9B; padding: 2em; margin-right: 30px; padding-left: 50px; padding-bottom: 0; height: 7em;">
        <h2>Isaac McAuley</h2>
        <a class="tab" href="/">About</a>
        <a class="tab" href="/projects">Projects</a>
        <a class="tab" href="https://github.com/imcauley">Github</a>
        <a class="tab" href="https://www.linkedin.com/in/imcauley">LinkedIn</a>
        <a class="tab" href="https://bsky.app/profile/imcauley.com">Bluesky</a>
      </nav>
      </div>
    </div>
      <div style="width: 40%; min-width: 470px; margin:0 auto; min-height: calc(100vh - 13em);">
      <div style="margin-top: -5px; margin-left: 30px; border: 0; border-right: 5px; border-top: 5px; border-top-right-radius: 30px; border-style: solid; border-color: #089B9B; padding: 2em; padding-top: 1em; padding-left: 25px; min-height: calc(100vh - 13em);">
    <h3>{{ page.title }}</h3>
    <section>{{ content }}</section>
    </div>
    </div>
    <!-- <footer>&copy; to me</footer> -->
  </body>
</html>
